<section>
    <div class="created_by">
        <h2>Tworzone przez</h2>
        <img src="../../public/logo-text.svg" alt="Koło Naukowe Informatyków" />
    </div>
</section>

<style lang="scss">
    div.created_by {
        display: flex;
        align-items: center;
        flex-direction: column;

        h2 {
            margin-bottom: 3rem;
        }
    }
</style>