<header>
    <h1 class="animate__animated animate__fadeInDown">Algo Judge</h1>
    <p class="animate__animated animate__fadeIn animate__delay-1s" >Dostępny wkrótce</p>
</header>

<style lang="scss">
  header {

    height: 100vh;
    width: 100%;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../../public/img.jpg");
    background-size: cover;

    animation: 1s ease-in 2s forwards shrinkheader ;

    h1{
      font-weight: 500;
      margin-bottom: 0.20rem;
      font-size: xxx-large;

      color: white;
    }

    p {
      color: darken(white, 25%);
      font-size: 1.2rem;
    }
  }

  @keyframes shrinkheader {
    from {
        height: 100vh;
    }

    to {
        height: 600px;
    }
  }
</style>
